/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    /*   background-color: rgb(0, 0, 0); */
    /* Fallback color */
    /*  background-color: rgba(0, 0, 0, 0.4); */
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 650px;
    max-width: 650px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border: 2px solid black;
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
}

.confirm-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 380px;
    max-width: 380px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border: 2px solid black;
    border-collapse: separate;
    border-radius: 10px;
    overflow: hidden;
}

/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */

.close {
    flex-direction: flex;
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    flex-direction: row;
    padding: 2px 16px;
    background-color: whitesmoke;
    text-align: center;
    border-bottom: 2px solid black;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.modal-header .header-title {
    flex: 1;
    text-align: center;
    font-size: 15px;
}

.modal-body {
    padding: 20px 20px 80px;
    height: 120px;
}

.modal-confirm-body {
    padding-top: 20px;
    padding-left: 10px;
    height: 120px;
    margin: 10px;
}

.modal-wrapper {
    flex: 1;
    display: inline-flex;
    text-align: left;
    font-size: 15px;
}

.modal-table {
    width: 100%;
}

.modal-table td {
    width: 50xp;
}

.centerCell {
    text-align: center;
}

.button-group {
    padding: 30px 5px;
}

.modal-confirm-body .button-group {
    padding: 0px;
    width: 300px;
}

.btn-modal {
    width: 110px;
    font-weight: bold;
    background: lightgray;
}

.left-spacing {
    margin-left: 50px;
}

.left-spacing-sm {
    margin-left: 20px;
}

.top-spacing-sm {
    padding-top: 10px;
}

.item-group {
    text-align: left;
    padding: 30px 5px 0px;
}

.modal-input {
    width: 400px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: rgb(82, 73, 73);
}

.btn-confirm {
    height: 30px;
}

.btn-chooseFile {
    height: 30px;
}

.btn-ok {
    width: 80px;
}