.container {
    padding-top: 6vh;
    height: auto;
    display: flex;
    justify-content: center;
}

.center {
    text-align: center;
}

.centerTable {
    margin-left: auto;
    margin-right: auto;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    width: 950px;
    flex-direction: column;
}

.row {
    margin-top: 35px;
}

.btn {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: 2px solid black;
}

.btn:hover {
    background: #898989;
    border: solid #000000 1px;
    cursor: pointer;
}

.btn:active {
    background: #898989;
    border: solid #f1efef 1px;
}

.btnSubmit {
    font-weight: bold;
    background: cyan;
}

.btn-close {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-weight: bolder;
    text-align: center;
}

.inputBox {
    margin-left: 50px;
    width: 230px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
}

.alignRight {
    text-align: right;
}

.navbar {
    display: flex;
    width: 100%;
    background-color: #c0bcbc;
    overflow: auto;
}

.navbar a {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
    width: 25%;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
}

.navbar a:active {
    background-color: #e9e6e6;
}

.navbar a:hover {
    background-color: #e9e6e6;
    font-weight: bold;
}

.active {
    background-color: #e9e6e6;
}

.header {
    margin: auto;
    border-radius: 4px;
    margin-top: 2vh;
    width: 100%;
    border: 1px solid black;
}

.header-text {
    display: inline-block;
    text-align: center;
    width: 97.2%;
    font-size: 20px;
    padding: 10px 0;
}

.close-icon {
    background-color: rgb(199, 199, 199);
    border: 2px solid black;
    padding: 10px 15px;
}

.messages-container {
    height: 50vh;
    border: 1px solid black;
    border-radius: 4px;
}

.messages-div {
    margin-top: 50px;
    margin-left: 15px;
}

.messaging {
    border: 1px solid black;
    border-top: 0;
    width: 100%;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
    border-radius: 4px;
}

.chat-text {
    width: 70%;
    padding: 5px 0;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 25px;
}

.msg-el {
    padding: 0;
    margin: 0;
}

.btn-chats {
    font-weight: bolder;
}

.tbl td {
    padding: 10px;
}

.tbl {
    width: 100%;
    border-collapse: separate;
    border: 2px solid black;
    border-radius: 3px;
    border-spacing: 0px;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
}

.strong {
    font-weight: bold;
}

.tbl thead th:first-child {
    border-right: 2px solid black;
}

.tbl thead th:nth-child(2) {
    border-right: 2px solid black;
}

.tbl thead th:nth-child(3) {
    border-right: 1px solid black;
}

.tbl tbody td:first-child {
    border-right: 2px solid black;
}

.tbl tbody td:nth-child(2) {
    border-right: 2px solid black;
}

.tbl tfoot td {
    border-right: 2px solid black;
}

.tbl thead tr {
    background-color: #c0bcbc;
    text-align: left;
}

.alignCenter {
    text-align: center;
}

.tbl thead th {
    padding-left: 5px;
    height: 35px;
}

.tbl tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tbl tbody td {
    border-right: 1px solid black;
    height: 18px;
    padding-left: 5px;
}

.tbl tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tbl tbody tr:last-of-type {
    border-bottom: 2px solid black;
}

.noDeco {
    text-decoration: none;
    color: black;
}

.header-text-bold {
    font-weight: bold;
    font-size: 32px;
}

.header-text-regular {
    font-size: 32px;
}

.label-text-bold {
    font-weight: bold;
    font-size: 17px;
}

.addSharingSection {
    padding: 20px 20px 15px;
    border: 2px solid black;
    border-radius: 3px;
}

.addSharingSection button {
    margin-left: 20px;
}

option {
    border-radius: 2px;
}

.btn-add-upload {
    background: cyan;
    font-weight: bold;
}